body{ 
    background:linear-gradient( 120deg, #2089b9,#8e44ad);
    padding:80px;
}

h1{
    text-align: center;
    margin-bottom: 50px;
    
}

.input-text{
    width: 300px;

}
button{
    background:linear-gradient( 120deg, #2089b9,#8e44ad);
    height:40px;
  width: 300px;
  border:none;
position: center;
  color:white;
  border-radius: 5px;
  
}
.box{
    background:white;
    width: 400px;
    padding:40px 30px;
    border-radius: 10px; 
}
