body{ 
    background:linear-gradient( 120deg, #2089b9,#8e44ad);
    padding:80px;
}

h1{
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
}

.input-text{
    width: 300px;

}
button{
    background:linear-gradient( 120deg, #2089b9,#8e44ad);
    height:40px;
  width: 300px;
  border:none;
  border-radius: 10px;
  color:white;
}
.box{
    position: absolute;
    top:50%;
    left:20%;
    transform: translate(50%, -50%);
    background:white;
    width: 400px;
    padding:40px 40px;
    border-radius: 10px;
   
}
